<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>

    <main>
        <% characters.forEach((character) =>{ %>
            <section>
                <p>
                    <%= character.name %>
                </p>
                <p>
                    <%= character.house %>
                </p>
                <p>
                    <%= character.patronus %>
                </p>
                <p>
                    <%= character.is_alive %>
                </p>
            </section>
            <% }) %>
    </main>

    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>


</html>